mixin Vitya(vitya)
    a(href=vitya.href target="_blank")
        img(src=vitya.img, alt=vitya.alt, itemprop="image" title=vitya.title)
        p(itemprop="headline") #{vitya.header}
        div(class=vitya.icon itemprop="mainEntity")
mixin topline(menu)
    .top-line(itemscope itemtype="https://schema.org/SiteNavigationElement")
        .wrapper
            section.rightside
                .menu
                    nav
                        .border
                        ul.menu-list
                            li
                                a(href="index.html" class="home" itemprop="url") 
                                    p(itemprop="name") H.O.M.E
                            li
                                a(href="questions.html" itemprop="url") 
                                    p(itemprop="name") F.A.Q
                            li 
                                a(href="policy.html" itemprop="url") 
                                    p(itemprop="name") P.R.I.V.A.C.Y P.O.L.I.C.Y

mixin footer(footerlast)
    .footer-last(itemscope itemtype="https://schema.org/WPFooter")
        p(itemprop="name") Games.Zet 
        p(itemprop="dateModified") 2023